*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Ubuntu';
}
/* Funciones para colores */
:root{
    --blue: #3498db;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --black1: #222;
    --black2: #999;
    --green:#1abc9c;
}
/* Cambios del body */
body{
    min-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
/* Contenido de la pagina */
.container{
    position: relative;
    max-width: 100px;
}
/* Estilo para la navegacion */
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
/* Estilo para la navegacion cuando este activo */
.navigation.acive{
    width: 80px;
}
/* Estilo para la lista de navegacion */
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%epa;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* Estilo para la lista de navegacion cuando se pasa el cursor */
.navigation ul li:hover, 
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
/* Estilo para la lista de navegacion para los link */
.navigation ul li a{
    position: relative;
    display: block;
    width: 300px;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
/* Estilo para la lista de navegacion cuando se pasa el cursor en el link */
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
/* Estilo para los iconos de navegacion cuando se pasa el cursor */
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
/* tamano del icono */
.navigation ul li a .icon i{
    font-size: 1.7em;
}
/* estilo para los titulos de las listas */
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* Estilo para la lista de navegacion cuando se pasa el cursor en el link */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50x;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after, 
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
/* Estilo para el main, el contenido que aparece en el centro */
.main{
    position: absolute;
    left: 300px;
    min-height: 100px;
    background: var(--white);
    transition: 0.5s;
    width: 1000px;
}
/* estilo para cuando main este activo */
.main.acive{
    left: 80px;
}
/* Estilo para el top del main */
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
/* Estilo para las barras */
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
/* Estilo para el buscar*/
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
/* Estilo para el label de el buscador */
.search label{
    position: relative;
    width: 100%;
}
/* Estilo para del buscador input */
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--black2);
}
/* Estilo para buscador del icono */
.search label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
/* Estilo para user */
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
/* Estilo para el icono de user */
.user i{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Estilos para los CardHeader de los contenidos en el main */
.cardHeader{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}
/* Estilo para el titulo de la carta */
.cardTitle{
    margin-bottom: 10px;
    font-size: 1.6em;
}
/* Estilo para el numero */
.cardNumber{
    display: inline-block;
    padding: 3px 45px 3px 40px;
    border-radius: 5px;
    border: 2px solid var(--black1);
    font-size: 2.9em;
    vertical-align: middle;
}
/* Para los botones */
.sell{
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
/* Estilos para los botones */
.btn{
    text-decoration: none;
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
/* Estilos para los botones cuando se preciona */
.btn:hover {
    background-color: var(--black2);
}
/* Estilos para el div donde estan las tablas */
.details{
    position: relative;
    max-width: 1000px;
    min-height: 300px;
    padding: 20px;
}
/* Estilos para las tablas */
.details table {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid black;
} 
.details table thead td{
    font-weight: 600;
}
.details table td h4{
    display: inline;
}
.details table tr:nth-child(even) {
    background-color: var(--white);
} 
.details table tr:nth-child(odd) {
    background-color: var(--blue); 
}
.details table thead tr td{
    background-color: var(--green);
}
.details table tr:nth-child(even) td h4 {
    color: var(--black1);
}
.details table tr:nth-child(odd) td h4 {
    color: var(--white);
}
.details table td{
    padding: 10px;
}
.details table td i{
    margin-right: 20px;
    font-size: 1.6em;
}
.details table td .btntr{
    display: inline-flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 1.1em;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px;
    padding: 3px 20px;
}
/* Estilos para el check */
.check{
    transform: scale(2);
    margin-right: 20px;
}
/* Estilo para el texto final  */
.texto{
    height: 23px;
}
/* Estilos para el cardheader de comprados */
.carDHeader{
    margin: auto;
    padding: 20px;
}
/* Estilo para el h4 */
.carDHeader h4{
    margin-bottom: 20px;
    font-size: 1.1em;
}
/* estilos para el numero */
.carDNumber{
    display: inline;
    padding: 3px 45px 3px 40px;
    border-radius: 5px;
    border: 2px solid var(--black1);
    font-size: 2.5em;
}