.material-symbols-outlined{
  color: #fff;
    margin-left: 15px;
    font-size: 1em;
    font-weight: 500;
    transition: .3s all ease-in-out;
    list-style: none;
    text-decoration: none;   
}


